<head>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h1>- Bookmarks -</h1>
  <h2>Welcome</h2>
  <form action='/log-in' method="get">
    <input type="submit" value="Log in">
  </form>
  <form action='/sign-up' method="get">
    <input type="submit" value="Sign up">
  </form>
</body>
